@model New23Try2.Models.Product

@{
    ViewData["Title"] = "Buy";
}

<h1>Do you want to buy this?</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

    <form method="post" asp-action="Receipt">
    <input type="radio" name="answer" value="yes" required />Yes<br />
    <input type="radio" name="answer" value="no" />No<br />
    <input type="hidden" name="id" value="@ViewBag.Id" />
    <input type="submit" value="Submit" />
     </form>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
